/*Navbar*/
.topnav {
    background-color: #333;
    overflow: hidden;
    height: 60px;
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 70%;
    z-index: 9999;

}

.topnav a {
    float: right;
    color: #f2f2f2;
    font-size: 15px;
    font-family:"Montserrat" , sans-serif;
    padding: 12px 16px;
    text-decoration: underline black;
    text-decoration-color: #90EE90;
    font-size: 20px;
    height: 60px;
    padding-top: 15px;

}

.topnav a:hover {
    background-color: #555;
    color: white;
}

.topnav a:active {
    background-color: rgb(143,188,143);
    color: white;
}

.container-fluid {
  width: 100%;
  height: 100%;
}

/*Home page*/

header img {
  height: 70px;
  margin-top: 0%;
}

#home-page {
  height: 100%;
  background-image: url(header-image.jpeg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 800px;
  padding: 0px;
}

h1 {
padding-top: 150px;
text-align: center;
font-size: 10em;
font-family: 'Montserrat', sans-serif;
text-shadow: 2px 2px 	#ffffff;
color:  #b35900;
margin-top: 20px;
}

hr {
  max-width: 50px;
  border-width: 3px;
  border-color: #000000;
}

#title-list {
  font-size: 2em;
  Font-family:"Montserrat" , sans-serif;
  color:  #cc6600;}

#quote {
  list-style-type: none;
  font-size: 45px;
  font-family: 'Homemade Apple', cursive;
  color: #000000;
  padding-top: 20px;
}

#upper {
  margin-left: 14%
}
#middle {
  margin-left: 35%
}
#lower {
  margin-left: 60%
}
#name {
  margin-left: 14%;
  font-style: italic;
  font-size: 20px;
}




/*Info page*/

#why-page {
  background-image: url(orange-image.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

#why-title {
  color: rgb(143,188,143);
  text-align-last: center;
  font-size: 80px;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: centre;
  align-items: centre;
  flex-direction:column;
  color: white;
}

#why-body {
  font-size: 20px;
  font-family: "verdana" sans-serif;
  color: rgb(70, 70, 72);
  text-align: center;
}

#icon1 {
  float: right;
}


.flex-container {
  display: inline-block;
  max-width: 60%;
  vertical-align: top;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}




#why-page1 {
  background-image: url(orange-image.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

#hr1 {
  margin-left: 30%;
}

.aboutpics{
  border-radius: 10%;
}


#recycle{
  height: 180px;
  float: left;
  margin-right: 50px;
}

#savewater{
  height: 180px;
  float: left;
  margin-right: 50px;
}

#whysubtitle1 {
  margin-left: 26%;
}

#whysubtitle2 {
  margin-left: 28%;
}

#whytitle {
  color: black;
  text-align: center;
  font-size: 80px;
  font-family: 'Montserrat', sans-serif;

}
















/*Top tips*/

#top-tips-page {
  background-image: url(jumper.jpeg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;

}

#top-tips-header{
  text-align-last: center;
  Font-family:"Montserrat" , sans-serif;
  font-size: 80px;
  display: flex;
  justify-content: centre;
  align-items: centre;
  flex-direction:column;
}

#top-tips-subheader{
  font-size: 40px;
  Font-family:"Montserrat" , sans-serif;
  color: black;
}

#top-tips-body {
  font-size: 30px;
  font-family: "Roboto Condensed" , sans-serif;
}


#talks-events {
  background-color: black;
}

.portfolio-box {
  position: relative;
  display: block;
  max-width: 700px;
  margin: 0 auto;
}
.portfolio-box .portfolio-box-caption {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  opacity: 0;
  color: #fff;
  background: #FF652F;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  text-align: center;
}
.portfolio-box
  .portfolio-box-caption
  .portfolio-box-caption-content
  .project-category,
.portfolio-box
  .portfolio-box-caption
  .portfolio-box-caption-content
  .project-name {
  padding: 0 15px;
  font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
}
.portfolio-box
  .portfolio-box-caption
  .portfolio-box-caption-content
  .project-category {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}
.portfolio-box
  .portfolio-box-caption
  .portfolio-box-caption-content
  .project-name {
  font-size: 18px;
}
.portfolio-box:hover .portfolio-box-caption {
  opacity: 1;
}
.portfolio-box:focus {
  outline: 0;
}
@media (min-width: 768px) {
  .portfolio-box
    .portfolio-box-caption
    .portfolio-box-caption-content
    .project-category {
    font-size: 25px;
  }

.portfolio-box
    .portfolio-box-caption
    .portfolio-box-caption-content
    .project-name {
    font-size: 15px;
    font-family: "Monserrat", sans-serif;
    }

#description{
  font-family: 'Pathway gothic one', sans-serif;
  font-size: 18px
}

}
.text-primary {
  color: #ff86e3 !important;
}
.btn {
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 300px;
  font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
}
.btn-xl {
  padding: 1rem 2rem;
}

.btn-light:active,
.btn-light:focus,
.btn-light:hover {
  color: #fff;
  background-color: #9669fe !important;
}

.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover {
  color: #fff;
  background-color: #0000 !important;
}
.btn-primary:active,
.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 190, 277, 0.5) !important;
}

#des {
  font-size: 18px;
  font-weight: 400;
  color: white;
}

.row {
   display: flex;
   flex-wrap: wrap;
   padding: 0 20px;
 }

.column {
     flex: 50%;
     max-width: 50%;
     padding: 5px;
   }

.column img {
  margin-top: 8px;
  vertical-align: middle;
  max-width: auto;
  max-height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
}

.column p {
  margin-bottom: 3em;
}

#graphic-column {
  font-size: 30px;
  font-family: "Roboto Condensed" , sans-serif;
  padding: 20px;
}


.gmap_canvas {
  position: relative;
  width: 100%;
  max-width: 1000px;
  text-align: centre;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}






/*contact us*/

#social-buttons button
{
color: white
align: center;
}

.btn-twitter {
background: #00acee;
border-color: #009ad5;
}

.btn-facebook {
background: #4868ac;
border-color: #314776;
}

.btn-pinterest {
  background: #b62f26;
  border-color: #b62f26;
