
body {
position: relative;
}



/*Navbar*/

.topnav {
  background-color: #333;
    overflow: hidden;
    height: 70px;
    position: fixed;
    width: 100%;
    opacity: 80%;
}

.topnav a {
  float: right;
    color: #f2f2f2;
    font-size: 15px;
    font-family:"Roboto Condensed" , sans-serif;
    padding: 12px 16px;
    text-decoration: underline black;
    text-decoration-color: #90EE90;
    font-size: 20px;
    height: 80px;
    padding-top: 20px;
}

.topnav a:hover {
  background-color: #555;
  color: white;
}

.topnav a.active {
  background-color: rgb(143,188,143);
  color: white;
}

.container {
 width: 100%;
 height: 100%;
}



/*Home page*/

header img {
  height: 70px;
  float: left;
}

#home-page {
  height: auto;
  background-image: url(https://imgix.bustle.com/uploads/image/2019/9/25/efee3ec4-9390-490b-8dc7-feefdcf19250-stocksy_txp51b11e78tvt200_small_1247229.jpg?w=970&h=546&fit=crop&crop=faces&auto=format&q=70);
  background-size: 100%;
  background-attachment: fixed;
  min-height: 800px;
  padding: 0px;
}

h1 {
padding-top: 150px;
text-align: center;
text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
font-size: 10em;
font-family: "Roboto Condensed" , sans-serif;
color: rgb(143,188,143);
margin-top: 20px;
}

#title-list {
  font-size: 2em;
  font-family: "Roboto Condensed" , sans-serif;
  color: rgb(143,188,143);}

#quote {
  list-style-type: none;
  font-size: 40px;
  font-family: "Roboto Condensed" , sans-serif;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  padding-top: 20px;
}

#upper {
  margin-left: 10%
}
#middle {
  margin-left:15%
}
#lower {
  margin-left:20%
}
#name {
  margin-left: 10%;
  font-style: italic;
  font-size: 15px;
}




/*Info page*/

#why-page {
  background-image: url(jumper.jpeg)
}

#why-title {
  color: rgb(143,188,143);
  text-align-last: center;
  font-size: 80px;
  display: flex;
  justify-content: centre;
  align-items: centre;
  flex-direction:column;
  color: white;
}

#why-body {
  font-size: 30px;
  font-family: "Roboto Condensed" , sans-serif;
  color: rgb(70, 70, 72);
}


/*Top tips*/

#top-tips-header{
  text-align-last: center;
  font-size: 80px;
  display: flex;
  justify-content: centre;
  align-items: centre;
  flex-direction:column;

}

#top-tips-subheader{
  background-color: white;
  font-size: 40px;
  font-family: "Roboto Condensed" , sans-serif;

}

#top-tips-body {
  background-color: white;
  font-size: 30px;
  font-family: "Roboto Condensed" , sans-serif;
}

 .row {
   display: flex;
   flex-wrap: wrap;
   padding: 0 20px;
 }

 .column {
     flex: 50%;
     max-width: 50%;
     padding: 5px;

   }

   .column img {
  margin-top: 8px;
  vertical-align: middle;
  max-width: 90%;
  max-height: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
}

.column p {
  margin-bottom: 3em;
}

#graphic-column {
  background-color: white;
  font-size: 30px;
  font-family: "Roboto Condensed" , sans-serif;
  padding: 20px;
}

#icons {
  width: 70%;
  height: 40%;
  align-items: center;
}

h3 {
  font-family: "Roboto Condensed" , sans-serif;
  font-size: 40px;
  text-align: left;
}

#dateandtime {
  font-family: "Roboto Condensed" , sans-serif;
  font-size: 30px;
}

#location {
  font-family: "Roboto Condensed" , sans-serif;
  font-size: 30px;
}

#event-description {
  font-family: sans-serif;
  font-size: 20px;
}
/*contact us*/

#social-buttons button
{
color: white
align: center;
}
.btn-twitter {
background: #00acee;
border-color: #009ad5;
}
.btn-facebook {
background: #4868ac;
border-color: #314776;
}
.btn-pintrest {
  background: #b62f26;
  border-color: #b62f26;
